{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    <title>CabsDriver</title>
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-softy-pinko.css' %}">

    </head>

    <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky" >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="{% static 'assets/images/crlogo.jpg' %}" height="50" width="50" alt="Softy Pinko"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active" style="color:#C5B358">Home</a></li>
                            <li><a href="#features"  style="color:#C5B358">About</a></li>
                            <li><a href="#work-process"  style="color:#C5B358">Products</a></li>
                            <li><a href="#blog" style="color:#C5B358">Blog Entries</a></li>
                            <li><a href="#contact-us" style="color:#C5B358">Contact Us</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome" style="background-image:url({% static 'assets/images/banner.jpg' %})">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1 style="color:#C5B358"> <strong></strong><br><strong></strong></h1>
                        <p></p>
                        <a href="#features" class="main-button-slider" style="color:#C5B358;"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{% static 'assets/images/airport.jpg' %}" alt="" height="100"></i>
                                </div>
                                <h5 class="features-title" style="color:#C5B358"> Airport Transfer</h5>
                                <p style="color:#C5B358">Short ride in our luxury fleet.</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{% static 'assets/images/business.jpg' %}" height="100" alt=""></i>
                                </div>
                                <h5 class="features-title" style="color:#C5B358">Chauffeur Service</h5>
                                <p style="color:#C5B358">A chauffeur ride in our luxury fleet</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="{% static 'assets/images/events.jpg' %}" height="100" alt=""></i>
                                </div>
                                <h5 class="features-title"  style="color:#C5B358">Sightseeing tours</h5>
                                <p style="color:#C5B358">Memories Leave Only</p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="{% static 'assets/images/about.png' %}" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h2 class="section-title" style="color:#C5B358"><b>Luxury Cars
for Maximum<br>
Satisfaction</b></h2>
                    </div>
                    <div class="left-text">
                        <p style="color:#C5B358">We create plans fro each client with regard to the type,designs and
                            color of the automobiles we have. We work just according to the client necessities.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Pricing Plans Start ***** -->
    <section class="section colored" id="pricing-plans" >
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title" style="color:#C5B358">Pricing Plans</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p style="color:#C5B358">Donec vulputate urna sed rutrum venenatis. Cras consequat magna quis arcu elementum, quis congue risus volutpat.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <div class="img">
                            <img src="{% static 'assets/images/car1.jpg' %}" alt="" width="200" height="200">
                        </div>
                            <h3 class="pricing-title" style="color:#C5B358">Cadillac Limousine</h3>
                        <div>
                        <p style="color:#C5B358">Insured, leather interior, air conditioning, rain sensor, panoramic roof</p>
                        </div>
                        </div>

                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">$</span>
                                <span class="price">260</span>
                                <span class="period">Hourly</span>
                            </div>
                            <ul class="list">
                                <li class="active">4 Seats</li>
                                <li class="active">Diesel</li>
                                <li class="active">Mechanic</li>
<!--                                <li>15-minute support</li>-->
<!--                                <li>Unlimited Emails</li>-->
<!--                                <li>24/7 Security</li>-->
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="main-button">Get Limousine</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->

                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                    <div class="pricing-item active">
                        <div class="pricing-header">
                            <div class="img">
                            <img src="{% static 'assets/images/car2.jpg' %}" alt="" width="200" height="200">
                        </div>
                            <h3 class="pricing-title">Mercedes Benz</h3>
                            <div>
                        <p style="color:#C5B358">Insured, leather interior, air conditioning, rain sensor, panoramic roof</p>
                        </div>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">$</span>
                                <span class="price">190</span>
                                <span class="period">Hourly</span>
                            </div>
                            <ul class="list">
                                <li class="active">4 Seats</li>
                                <li class="active">Petrol</li>
                                <li class="active">Auto</li>
<!--                                <li class="active">15-minute support</li>-->
<!--                                <li>Unlimited Emails</li>-->
<!--                                <li>24/7 Security</li>-->
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="main-button">Get Limousine</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->

                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <div class="img">
                            <img src="{% static 'assets/images/car3.jpg' %}" alt="" width="200" height="200">
                        </div>
                            <h3 class="pricing-title">Range Rover Sport</h3>
                            <p style="color:#C5B358">Insured, leather interior, air conditioning, rain sensor, panoramic roof</p>

                        </div>

                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">$</span>
                                <span class="price">210</span>
                                <span class="period">Hourly</span>
                            </div>
                            <ul class="list">
                                <li class="active">5 Seats</li>
                                <li class="active">Petrol</li>
                                <li class="active">Auto</li>
<!--                                <li class="active">15-minute support</li>-->
<!--                                <li class="active">Unlimited Emails</li>-->
<!--                                <li class="active">24/7 Security</li>-->
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="main-button">Get Limousine</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->
            </div>
        </div>
    </section>

    <!-- ***** Features Big Item Start ***** -->
<!--    <section class="section padding-bottom-100" style="background-color:black;">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">-->
<!--                    <div class="left-heading">-->
<!--                        <h2 class="section-title">We make sure that your every trip is comfortable</h2>-->
<!--                    </div>-->
<!--                    <div class="left-text">-->
<!--                        <p>Aenean pretium, ipsum et porttitor auctor, metus ipsum iaculis nisi, a bibendum lectus libero vitae urna. Sed id leo eu dolor luctus congue sed eget ipsum. Nunc nec luctus libero. Etiam quis dolor elit.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-1"></div>-->
<!--                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">-->
<!--                    <img src="assets/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Home Parallax Start ***** -->
    <section class="mini" id="work-process">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1>We make sure that your every trip is comfortable</h1>
                            <p>Aenean nec tempor metus. Maecenas ligula dolor, commodo in imperdiet interdum, vehicula ut ex. Donec ante diam.</p>
                        </div>
                    </div>
                </div>

                <!-- ***** Mini Box Start ***** -->
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i class="fas fa-car" style="color:#C5B358;"></i>
<!--                            <i><img src="assets/images/work-process-item-01.png" alt=""></i>-->
                            <strong>Luxury car Selection</strong>
<!--                            <span>Godard pabst prism fam cliche.</span>-->
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i class="fas fa-phone-square" style="color:#C5B358;"></i>
<!--                            <i><img src="assets/images/work-process-item-01.png" alt=""></i>-->
                            <strong>24/7 Order Available</strong>
<!--                            <span>Godard pabst prism fam cliche.</span>-->
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i class="far fa-clock" style="color:#C5B358;"></i>
<!--                            <i><img src="assets/images/work-process-item-01.png" alt=""></i>-->
                            <strong>Fast Delivery Service</strong>
<!--                            <span>Godard pabst prism fam cliche.</span>-->
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i class="fas fa-hands" style="color:#C5B358;"></i>
<!--                            <i><img src="https://img.icons8.com/ios-filled/50/000000/car-seat.png" height="25" width="25" style="color:white;"/></i>-->
<!--                            <i><img src="assets/images/work-process-item-01.png" alt=""></i>-->
                            <strong>High Safety and Nurity</strong>
<!--                            <span>Godard pabst prism fam cliche.</span>-->
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i class="fas fa-tags" style="color:#C5B358;"></i>
<!--                            <i><img src="https://img.icons8.com/pastel-glyph/64/000000/sale-price-tag&#45;&#45;v1.png" height="25" width="25"/></i>-->
<!--                            <i><img src="assets/images/work-process-item-01.png" alt=""></i>-->
                            <strong>Fixed Price & Bonus System</strong>
<!--                            <span>Godard pabst prism fam cliche.</span>-->
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i class="fas fa-user-tie" style="color:#C5B358;"></i>
<!--                            <i><img src="https://img.icons8.com/fluency-systems-filled/30/000000/taxi-driver.png" height="25" width="25"/></i>-->
<!--                            <i><img src="assets/images/work-process-item-01.png" alt=""></i>-->
                            <strong>Professional Car Drivers</strong>
<!--                            <span>Godard pabst prism fam cliche.</span>-->
                        </a>
                    </div>
                </div>
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Home Parallax End ***** -->

    <!-- ***** Testimonials Start ***** -->
    <section class="section" id="testimonials" >
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">What do they say?</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Donec tempus, sem non rutrum imperdiet, lectus orci fringilla nulla, at accumsan elit eros a turpis. Ut sagittis lectus libero.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="assets/images/testimonial-icon.png" alt=""></i>
                            <p>Proin a neque nisi. Nam ipsum nisi, venenatis ut nulla quis, egestas scelerisque orci. Maecenas a finibus odio.</p>
                            <div class="user-image">
                                <img src="http://placehold.it/60x60" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Catherine Soft</h3>
                                <span>Managing Director</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->

                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="assets/images/testimonial-icon.png" alt=""></i>
                            <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie.</p>
                            <div class="user-image">
                                <img src="http://placehold.it/60x60" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Kelvin Wood</h3>
                                <span>Digital Marketer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->

                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="assets/images/testimonial-icon.png" alt=""></i>
                            <p>Quisque diam odio, maximus ac consectetur eu, auctor non lorem. Cras quis est non ante ultrices molestie. Ut vehicula et diam at aliquam.</p>
                            <div class="user-image">
                                <img src="http://placehold.it/60x60" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">David Martin</h3>
                                <span>Website Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->


    <!-- ***** Pricing Plans End ***** -->

    <!-- ***** Counter Parallax Start ***** -->
<!--    <section class="counter">-->
<!--        <div class="content">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-3 col-md-6 col-sm-12">-->
<!--                        <div class="count-item decoration-bottom">-->
<!--                            <strong>126</strong>-->
<!--                            <span>Projects</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-6 col-sm-12">-->
<!--                        <div class="count-item decoration-top">-->
<!--                            <strong>63</strong>-->
<!--                            <span>Happy Clients</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-6 col-sm-12">-->
<!--                        <div class="count-item decoration-bottom">-->
<!--                            <strong>18</strong>-->
<!--                            <span>Awards Wins</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-3 col-md-6 col-sm-12">-->
<!--                        <div class="count-item">-->
<!--                            <strong>27</strong>-->
<!--                            <span>Countries</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- ***** Counter Parallax End ***** -->

    <!-- ***** Blog Start ***** -->
<!--    <section class="section" id="blog" style="background-color:black;">-->
<!--        <div class="container">-->
<!--            &lt;!&ndash; ***** Section Title Start ***** &ndash;&gt;-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    <div class="center-heading">-->
<!--                        <h2 class="section-title">Blog Entries</h2>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="offset-lg-3 col-lg-6">-->
<!--                    <div class="center-text">-->
<!--                        <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; ***** Section Title End ***** &ndash;&gt;-->

<!--            <div class="row">-->
<!--                <div class="col-lg-4 col-md-6 col-sm-12">-->
<!--                    <div class="blog-post-thumb">-->
<!--                        <div class="img">-->
<!--                            <img src="assets/images/blog-item-01.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="blog-content">-->
<!--                            <h3>-->
<!--                                <a href="#">Vivamus ac vehicula dui</a>-->
<!--                            </h3>-->
<!--                            <div class="text">-->
<!--                               Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis eros. Aliquam egestas augue.-->
<!--                            </div>-->
<!--                            <a href="#" class="main-button">Read More</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 col-sm-12">-->
<!--                    <div class="blog-post-thumb">-->
<!--                        <div class="img">-->
<!--                            <img src="assets/images/blog-item-02.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="blog-content">-->
<!--                            <h3>-->
<!--                                <a href="#">Phasellus convallis augue</a>-->
<!--                            </h3>-->
<!--                            <div class="text">-->
<!--                                Aliquam commodo ornare nisl, et scelerisque nisl dignissim ac. Vestibulum finibus urna ut velit venenatis, vel ultrices sapien mattis.-->
<!--                            </div>-->
<!--                            <a href="#" class="main-button">Read More</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 col-sm-12">-->
<!--                    <div class="blog-post-thumb">-->
<!--                        <div class="img">-->
<!--                            <img src="assets/images/blog-item-03.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="blog-content">-->
<!--                            <h3>-->
<!--                                <a href="#">Nam gravida purus non</a>-->
<!--                            </h3>-->
<!--                            <div class="text">-->
<!--                                Maecenas eu erat vitae dui convallis consequat vel gravida nulla. Vestibulum finibus euismod odio, ut tempus enim varius eu.-->
<!--                            </div>-->
<!--                            <a href="#" class="main-button">Read More</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- ***** Blog End ***** -->

    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us" >
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title" style="color:black;">Use our quick booking form to get a limousine</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p style="color:black;">Maecenas pellentesque ante faucibus lectus vulputate sollicitudin. Cras feugiat hendrerit semper.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30" style="color:#C5B358">Keep in touch</h5>
                    <div class="contact-text">
                        <p style="color:black;">110-220 Quisque diam odio, maximus ac consectetur eu, 10260
                        <br>auctor non lorem</p>
                        <p style="color:black;"> Thank you.</p>
                    </div>
                </div>
                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="get">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send Message</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer style="background-color:black;">
        <div class="container" style="background-color:black;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fas fa-envelope-open"></i></a> </li>
                        <li><a href="#"><i class="fas fa-phone-alt"></i></a> </li>
<!--                        <li><a href="#"><i class="fa fa-rss"></i></a></li>-->
<!--                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright" style="color:#C5B358">Copyright &copy; 2021</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

  </body>
</html>